.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.errors {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
}
button {
  outline: none !important;
}
/* .rdrDefinedRangesWrapper {
  display: none;
} */
/* 
.leaflet-container {
  height: 100%;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pagination {
  font-size: 14px;
  font-weight: 600;
}
.previous,
.next,
.pagination__link {
  margin: 0 10px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 50%;
  line-height: 32px;
}
.previous,
.next {
  font-size: 20px;
}

.pagination__link.pagination__link--active {
  color: #ffffff;
  background-color: #6c4af2;
}

.previous.pagination__link--disabled a, 
.next.pagination__link--disabled a {
  color: rgb(221, 221, 221) !important;
    cursor: not-allowed !important;
}